* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}
/* removed header as a class and turned to header element by removing . from front of codes (next 6) */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

header h1 {
    display: inline-block;
    font-size: 48px;
}

header h1 .seo {
    color: #d9dcd6;
}
/* changed div element to nav for all header codes ( next 3 )*/
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
   /* changed background-size from cover to 100% 100%  */
    background-size: 100% 100%;
    background-position: center;
     
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

/* increased the width from 75%  to 76 % to adjust space in between inline-blocks */
.content {
    width: 76%;
    display: inline-block;
    margin-left: 20px;
}

.benefits {
    margin-right: 30px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* combined all 3 classes by changing to single class=benefit-example to reduce duplication  */
.benefit-example {
    margin-bottom: 32px;
    color: #ffffff;
}

/* combined all 3 classes by changing to class="benefit-example" for to reduce h3 element duplication  */
.benefit-example h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* combined all 3 classes by changing to single class=benefit-example to reduce duplication  */
/* adjusted margin to bring vertical block's bottom surface straight to horizontal block bottom surface  */
.benefit-example img {
    display: block;
    margin: 20px auto;
    max-width: 150px;
}

/* combined  3 classes into one single class by changing to class="tools" due to same property values*/  
.tools {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* combined  all 3 img code into single class by changing to .tools img  due to same height */ 
.tools img {
    max-height: 200px;
}

/* combined  all 3 h2 elements into single element by changing to .tools h2  due to same bottom-margin and font-size */
.tools h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* removed footer as a class and turned to element by removing . from next 2 codes */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h2 {
    font-size: 20px;
}
